body {
    margin:0;

    font-size: 18px;
    color: #333;

    width: 100%;
}


*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}


/* Header */
.header{
    width: 100%;
    height: 125px;
    background-color: #eaaf46;
    display: flex;
}

.header_logo{
    margin: 15px 10px 0 45px;
    
}

.header_text{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;    
    display: flex;
    align-items: center;
}


/* Content */
.content{
    height: 1450px;
    width: 100%;

}

.content_logo{
    width: 100%;
    text-transform: uppercase;
    font-size: 100px;
    color: #eaaf46;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 5px;
}

.content_logo_text{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 25px;
    text-align: center;
}

.content_logo_img{
    display: flex;
    justify-content: center;
}

.container{
    width: 1400px;
}

.container_logo{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: ;
}